<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn more about Lien Vending Solutions and our services.">
    <title>Om Oss - Lien Vending Solutions</title>
    <link rel="stylesheet" href="style.css">
</head>
<body class="fade-out">
    <header class="header">
        <img src="media/lvs.svg" alt="Lien Vending Solutions Logo" class="logo">
        <nav>
            <ul class="header_buttons">
                <li><button id="darkModeToggle" aria-label="Toggle dark mode"><img src="media/dark-theme-svgrepo-com.svg" alt="Dark mode icon"></button></li>
                <li><a href="index.html">Forside</a></li>
                <li><a class="active" href="#">Om oss</a></li>
<!--                 <li><a href="portefolje.html">Våre maskiner</a></li>
 -->                <li><a href="meld_feil.html">Meld feil</a></li>
                <li><a href="kontakt.html">Kontakt oss</a></li>
            </ul>
        </nav>
    </header>
    <main class="om_oss">
        <h1>Om Oss</h1>
        <p>Vi er dedikert til å tilby innovative og pålitelige automatløsninger for din bedrift. Vårt team har mange års erfaring i bransjen, og vi jobber kontinuerlig med å forbedre våre tjenester.</p>
    </main>
    <script src="script.js"></script>
</body>
</html>
